* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
}

#siteName {
  color: rgb(237, 157, 7);
  font-style: italic;
  font-weight: 600;
}
.container{
    height: 520px;
    width: 100vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    gap: 20px;
}

#leftBox{
    height:100%;
    width: 380px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0px; */
}
#rightBox{
    height:100%;
    width: 380px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#leftBox img{
    height: 42%;
    width: 95%;
    border-radius: 20px;

}
#leftBox h3{
    width: 95%;
}
#leftBox p{
    width: 95%;
}

#rightBox img{
    height: 42%;
    width: 95%;
    border-radius: 20px;
}
#rightBox h3{
    width: 95%;
}
#rightBox p{
    width: 95%;
}

@media (max-width: 500px){
    .container{
        flex-wrap: wrap;
    }
}

/* ! Z-index */

.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin: 20px;
}
.one{
    background-color: aquamarine;
    position: relative;
    z-index: -3;
}
.two{
    background-color: blueviolet;
    position: relative;
    bottom: 50px;
    z-index: 2;
}