h1 {
  background-color: brown;
}

@media (width: 500px) {
  h1 {
    background-color: green;
    color: white;
  }
}
/* @media (min-width: 700px){
    h1{
        background-color: blueviolet;

    }
 }

 @media(max-width: 300px){
    h1{
        background-color: yellow;
        color: red;
    }
 } */

@media (min-width: 400px) and (max-width: 500px) {
  h1 {
    background-color: black;
    color: white;
  }
}

@media (orientation:landscape){
    h1{
        background-color: blue;
        color: red;
    }
}