/* ! First Task */
/* .first {
  height: 200px;
  width: 500px;
  background-color: pink;
  border: 5px solid rgb(8, 8, 8);
  border-radius: 20px;
  padding: 20px;
  margin: 10px 20px 30px 40px;
}
h1 {
  border: 2px solid blue;
  margin: 0px;
}
button {
  padding: 0px 20px 0px 20px;
  border-radius: 25px;
  background-color: lightgreen;
}


/* ! Second Task */
/* #main {
  height: 200px;
  width: 70px;
  border: 2px solid black;
  margin-left: 50px;
}
#main div {
  border-radius: 50%;
  border: 2px solid black;
  margin: 15px;
  height: 40px;
  width: 40px;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
} */

/* ! Third Task */
/* #outer {
  height: 400px;
  width: 400px;
  background-color: pink;
  border: 2px solid black;
  margin: 50px;
}
#inner {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  border: 2px solid black;
  margin-left: 20%;
}
h1 {
  border: 2px solid black;
  width: 50%;
} */

/* ! About "em" */
/* button {
  font-size: 100px;
  border-radius: 20px;
  border: 2px solid red;
  padding: 0em 1em;
} */

/* ! About "rem" */
/* section {
  font-size: 20px;
}
div {
  font-size: 2rem;
} */

/* ! Practice Questions */
#first {
  height: 150px;
  width: 300px;
  background-color: grey;
  border: 5px dotted black;
  margin: 20px 1em 40px 2em;
  padding: 1em;
}
.seconds {
  height: 100px;
  width: 100px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
}
ul li {
  display: inline-block;
  background-color: aqua;
  list-style-type: disc;
}
