* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.main_container {
  min-height: 100vh;
  width: 100%;
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif Todhri", serif;
  font-weight: 400;
  font-style: normal;
  gap: 40px;
}

.container1 {
  height: 100vh;
  width: 100vw;
  background-image: url(//monfee-store-demo.myshopify.com/cdn/shop/files/slideshow-v1.jpg?v=1613541926);
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.head_container {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(42, 41, 41, 0.9);
  /* margin-left: -20px; */
  position: fixed;
}
a {
  text-decoration: none;
}
.left_box .left_list {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: white;
  font-size: 1.2rem;
  margin-left: -60px;
}
.head_container .mid_box {
  color: white;
  font-size: 1.5rem;
  margin-left: -50px;
  /* text-align: start; */
  /* height: 10%; */
  width: 20%;
  /* background-color: blueviolet; */
}
.right_box .right_list {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: white;
  font-size: 1.5rem;
  margin-left: -60px;
}
.para {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
}
.para .first {
  letter-spacing: 4px;
}
.para .second {
  font-size: 4rem;
}
.para .third {
  letter-spacing: 2px;
}
.para button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1.1rem;
  padding: 20px 30px;
  border: 2px solid white;
}
.container2 {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  justify-content: space-evenly;
  /* background-color: aquamarine; */
}

.container2 .left_container img {
  height: 420px;
}
.container2 .right_container img {
  height: 420px;
}

.left_container .expressso {
  position: relative;
  left: 200px;
  bottom: 220px;
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}
.right_container .collection {
  position: relative;
  left: 200px;
  bottom: 220px;
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}

.container3 {
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-size: 2rem;
}

.container4 {
  height: 100vh;
  width: 90vw;
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  /* place-items: center; */
  justify-items: center;
  text-align: center;
  /* margin: 0 auto; */
}
.container4 .item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container4 .item img {
  height: 360px;
}
.container4 .item a {
  color: black;
  font-weight: 600;
}
.container4 .item span{
    color: rgb(179, 137, 59);
    font-weight: bold;
}