* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(82, 80, 80);
  display: grid;
  padding: 4rem;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  /* justify-items: center;
  align-items: center; */
  /* place-items: stretch; */
}

.item {
  background-color: pink;
  border: 3px solid black;
}

.one {
  grid-column: 1/4;
}
.two {
  grid-row: 2/4;
}
.three {
  grid-column: 2/4;
}
